@import "fonts.css";

header {
    background: rgb(50, 75, 100);
    font: 16px "Noto Serif Display", "Noto Serif", serif;
    color: white;
}

header div {
    padding: 0px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

header div nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
}

header div nav ul li a {
    padding: 4px;
    text-decoration: none;
    font: 16px "Noto Sans", sans-serif;
    color: white;
}

header div nav ul li a:hover {
    background: rgb(75, 100, 125);
}