<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title>TikTorchic18 - {{ title }}</title>
        <link rel="stylesheet" href="/styles/main.css">
    </head>
    <body>
        <header>
            {{ include "partials/header.vto" }}
        </header>
        <main>
            {{ content }}
        </main>
        <footer>
            {{ include "partials/footer.vto" }}
        </footer>
    </body>
</html>