<div>
    <h1>TikTorchic18</h1>
    <nav>
        <ul>
            <li><a href="/"><img src="{{ "house" |> icon("phosphor") }}" width="32" height="32" inline /></a></li>
            <li><a href="/blog"><img src="{{ "pen" |> icon("phosphor") }}" width="32" height="32" inline /></a></li>
            <li><a href="/music"><img src="{{ "music-notes" |> icon("phosphor") }}" width="32" height="32" inline /></a></li>
            <li><a href="/photos"><img src="{{ "camera" |> icon("phosphor") }}" width="32" height="32" inline /></a></li>
        </ul>
    </nav>
</div>
